/*
 * The CSS comments were based on viewing this link here: https://gabrieleromanato.name/css-using-comments-the-right-way
 * The CSS selectors and properties below are self-explanatory.
 */

/*= General Styling
 * Styles all elements within index.html to the following properties. Further selectors will overwrite these properties.
 */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*= Body and Background Section
 * Contains five selectors for styling the tags within the body of index.html
 */

body {
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}

.background {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*= Header Section
 * Contains six selectors for styling the tags within the body header of index.html
 */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav a {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*= Content Section
 * Contains four selectors for styling the tags within the content section of index.html
 */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content article img {
    max-height: 200px;
}

.content article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*= Benefits Section
 * Contains four selectors for styling the tags within the benefits section of index.html
 */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits article {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits article h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*= Footer Section
 * Selectors for the footer section. 
 */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
